     <!-- Contact Start -->
     <div class="container bg-dark py-5" id="contact">
        <div class="row px-3">
            <div class="col-12">
                <h3 class="title position-relative pb-2 mb-4">Contact Me</h3>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-6 py-1">
                        <h5 class="d-inline text-primary">Name:</h5> Harshad Kathiriya
                    </div>
                    <div class="col-sm-6 py-1">
                        <h5 class="d-inline text-primary">Degree:</h5> Advance Diploma(A Level by nielit.gov.in)
                    </div>
                    <div class="col-sm-6 py-1">
                        <h5 class="d-inline text-primary">Experience:</h5> 11+ Years
                    </div>
                    <div class="col-sm-6 py-1">
                        <h5 class="d-inline text-primary">Email:</h5> harshad.dot.dev@gmail.com
                    </div>
                    <div class="col-sm-6 py-1">
                        <h5 class="d-inline text-primary">Address:</h5> Ahmedabad
                    </div>
                    <div class="col-sm-6 py-1">
                        <h5 class="d-inline text-primary">Freelance:</h5> Available
                    </div>
                    <div class="col-sm-6 py-1">
                        <h5 class="d-inline text-primary">Passport:</h5> Yes
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->