 <!-- About Start -->
 <div class="container bg-dark py-5 aboutus" id="aboutme">
    <div class="row px-3">
        <div class="col-12">
            <h3 class="title position-relative pb-2 mb-4">About Me</h3>
        </div>
        <div class="col-12">
            <p>Hey, My name is Harshad Kathiriya, holding Advance Diploma degree from nielit.gov.in.
                I am a full stack developer, having 11+ years of experience in complete Software Development Life Cycle (SDLC) covering Requirements Gathering, Data Analysis, Data Modeling, Database Design, Development, Testing and Deployment of business applications.
                I am passionate about upskilling, adopting to new technologies, writing code following good practices.
                I worked seamlessly across business, end users and technology teams as team leader and team player.
                I consider myself a person with a hunger for knowledge and always looking for new ideas to improve what the market has to offer.  </p>           
        </div>
        <div class="col-12">
            <div class="align-items-start">
                <a href="https://firebasestorage.googleapis.com/v0/b/harshad-dev.appspot.com/o/Harshad-Kathiriya-Resume.pdf?alt=media&token=37b19d16-02a0-46b6-a8a2-88c55188e202" target="blank" class="btn btn-outline-primary mr-4">Download CV</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->