 <!-- Expericence Start -->
 <div class="container bg-dark py-5" id="experiance">
    <div class="row px-3">
        <div class="col-12">
            <h3 class="title position-relative pb-2 mb-4">Expericence</h3>
        </div>
        <div class="col-12">
            <div class="border-left border-primary pt-2 pl-4 ml-2">
                <div class="position-relative mb-4">
                    <i class="fa fa-arrow-right text-primary position-absolute" style="top: 3px; left: -24px;"></i>
                    <h5 class="mb-1">Technical Consultant</h5>
                    <p class="mb-2">NeuralMetrics.ai | <small>2021(Current)</small></p>
                    <ul>                                      
                        <li>
                            As a core team member, responsible to build the Mobile and Web Application using React and .Net C#, having an experience in in-app purchases, logging mechanism, Maps and Web3.js
                        </li>   
                        <li>
                            Worked with GraphQL and REST API using Node.JS.
                        </li>
                        <li>
                            Experienced in Smart Contract integration with frontend.
                        </li>
                        <li>
                            Experienced in AWS Cloud Platform.
                        </li>
                        <li>
                            Mentored the team members.
                        </li>   
                    </ul>
                </div>
                <div class="position-relative mb-4">
                    <i class="fa fa-arrow-right text-primary position-absolute" style="top: 3px; left: -24px;"></i>
                    <h5 class="mb-1">Senior Software Developer</h5>
                    <p class="mb-2">S&P Global Market Intelligence | <small>2015 - 2021</small></p>
                    <ul>
                        <li>
                            <p>As a dev lead, responsible to communicate with PO, SCM, Dev & QA team to deliver the product feature. Built the product feature using React, .Net core and bootstrap.  </p>
                        </li>
                    </ul>
                </div>
                <div class="position-relative mb-4">
                    <i class="fa fa-arrow-right text-primary position-absolute" style="top: 3px; left: -24px;"></i>
                    <h5 class="mb-1">Dot Net Developer</h5>
                    <p class="mb-2">Asite | <small>2014 - 2015</small></p>
                    <ul>
                        <li>
                            <p>Responsible to build the website for clients using Asp.net and C#, doing code optimization and mentor the team member.</p>
                        </li>
                    </ul>
                </div>
                <div class="position-relative mb-4">
                    <i class="fa fa-arrow-right text-primary position-absolute" style="top: 3px; left: -24px;"></i>
                    <h5 class="mb-1">Software Engineer</h5>
                    <p class="mb-2">SoluSoft Corporation | <small>2012 - 2014</small></p>
                    <ul>
                        <li>
                            <p>Communicated with client and gathered the requirement, built the website using Asp.net, C#, Javascript, Sql Server.</p>
                        </li>
                    </ul>
                </div>
                <div class="position-relative mb-4">
                    <i class="fa fa-arrow-right text-primary position-absolute" style="top: 3px; left: -24px;"></i>
                    <h5 class="mb-1">Web Developer</h5>
                    <p class="mb-2">Vrinsoft Technologies Pvt. Ltd | <small>2012 - 2012</small></p>
                    <ul>
                        <li>
                            <p>Built the website using ASP.net, Javascript, Jquery, Linq, Web Services and Microsoft sql server.</p>
                        </li>
                    </ul>
                </div>
                <div class="position-relative mb-4">
                    <i class="fa fa-arrow-right text-primary position-absolute" style="top: 3px; left: -24px;"></i>
                    <h5 class="mb-1">Software Engineer</h5>
                    <p class="mb-2">Aark Infosoft Pvt. Ltd | <small>2010 - 2011</small></p>
                    <ul>
                        <li>
                            <p>Gathered the project requirement and built the project flow, communication with client and provided onsite support, built solution using C#, Asp.net, Javascript, Jquery and Microsoft sql server. </p>
                        </li>
                    </ul>
                </div>                
            </div>
        </div>
    </div>
</div>
<!-- Expericence End -->
