  <!-- Education Start -->
  <div class="container bg-dark py-5" id="education">
    <div class="row px-3">
        <div class="col-12">
            <h3 class="title position-relative pb-2 mb-4">Education</h3>
        </div>
        <div class="col-12">
            <div class="border-left border-primary pt-2 pl-4 ml-2">
                <div class="position-relative mb-4">
                    <i class="fa fa-arrow-right text-primary position-absolute" style="top: 3px; left: -24px;"></i>
                    <h5 class="mb-1">Advanced Diploma (DOEACC 'A' level)</h5>
                    <p class="mb-2"> nielit.gov.in | <small>2009 - 2013</small></p>
                    <p>DOEACC ‘A’ Level Course is the next level of NIELIT IT Professional Course after ‘O’ Level. It is equivalent to the Advanced Diploma Course in Computer Application as recognized by Govt. of India.</p>
                </div>                
            </div>
        </div>
    </div>
</div>
<!-- Education End -->