 <!-- Skills Start -->
 <div class="container bg-dark pt-5 pb-3" id="skills">
    <div class="row px-3">
        <div class="col-12">
            <h3 class="title position-relative pb-2 mb-4">Skills</h3>
        </div>
        <div class="col-md-6 skills-item text-center mb-1">
            <div class="skill-box">
                <div class="skill mb-1">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">React</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 95%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 skills-item text-center mb-1">
            <div class="skill-box">
                <div class="skill mb-1">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">React Native</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 95%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 skills-item text-center mb-1">
            <div class="skill-box">
                <div class="skill mb-1">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Angular</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 90%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="col-md-6 skills-item text-center mb-1">
            <div class="skill-box">
                <div class="skill mb-1">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">TypeScript</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 skills-item text-center mb-1">
            <div class="skill-box">
                <div class="skill mb-1">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">.Net Core</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 skills-item text-center mb-1">
            <div class="skill-box">
                <div class="skill mb-1">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">C#</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 90%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 skills-item text-center mb-1">
            <div class="skill-box">
                <div class="skill mb-1">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Sql Server</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 skills-item text-center mb-1">
            <div class="skill-box">
                <div class="skill mb-1">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Entity Framework</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 skills-item text-center mb-1">
            <div class="skill-box">
                <div class="skill mb-1">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">HTML & CSS</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 skills-item text-center mb-1">
            <div class="skill-box">
                <div class="skill mb-1">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Microservice</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 skills-item text-center mb-1">
            <div class="skill-box">
                <div class="skill mb-1">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Asp.Net</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 skills-item text-center mb-1">
            <div class="skill-box">
                <div class="skill mb-1">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Bootstrap</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 skills-item text-center mb-1">
            <div class="skill-box">
                <div class="skill mb-1">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">GatsByJs</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="col-md-6 skills-item text-center mb-1">
            <div class="skill-box">
                <div class="skill mb-1">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Jenkins</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 skills-item text-center mb-1">
            <div class="skill-box">
                <div class="skill mb-1">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Kafka</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 skills-item text-center mb-1">
            <div class="skill-box">
                <div class="skill mb-1">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Docker</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 skills-item text-center mb-1">
            <div class="skill-box">
                <div class="skill mb-1">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Git</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 skills-item text-center mb-1">
            <div class="skill-box">
                <div class="skill mb-1">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">TFS Online</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 skills-item text-center mb-1">
            <div class="skill-box">
                <div class="skill mb-1">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">AWS</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 skills-item text-center mb-1">
            <div class="skill-box">
                <div class="skill mb-1">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">PostgreSQL</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 skills-item text-center mb-1">
            <div class="skill-box">
                <div class="skill mb-1">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Agile/Scrum Methodology</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 skills-item text-center mb-1">
            <div class="skill-box">
                <div class="skill mb-1">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Lean Process/Management</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- <div class="col-md-6 skills-item text-center mb-3">
            <div class="skill-box">
                <img class="img-fluid mb-2" src="../../../assets/icon/ionic.png"  alt="Image">
                <h5 class="mb-2">Ionic Framework</h5>
                <p>Ionic Framework's app development platform builds amazing cross-platform mobile, web, and desktop apps all with one shared code base and open-web standards.</p>    
            </div>
        </div> -->
    </div>
</div>
<!-- Skills End -->